html,
body,
#app {width: 100%;height: 100%;}
.paging{text-align:right;padding-top:13px;}
.btnRight{float:right;margin-bottom: 10px;}
.FL{float: left!important;}
.FR{float: right!important;}
.TC{text-align: center;}

.W10{width:10%!important;margin-right:2%!important;}
.W20{width:20%!important;margin-right:2%!important;}
.W30{width:30%!important;margin-right:2%!important;}
.W34{width:34%!important;margin-right:2%!important;}
.W36{width:36%!important;margin-right:2%!important;}
.W40{width:40%!important;margin-right:2%!important;}
.W50{width:50%!important;margin-right:2%!important;}
.W54{width:54%!important;margin-right:2%!important;}
.W60{width:60%!important;margin-right:2%!important;}
.W100{width:98%!important;margin-right:2%!important;}
.W200{width:200px!important;margin-right:10px!important;}
.W250{width:250px!important;margin-right:10px!important;}
.W300{width:300px!important;margin-right:10px!important;}
.W400{width:400px!important;margin-right:10px!important;}
.W410{width:410px!important;margin-right:10px!important;}
.W600{width:766px!important;margin-right:10px!important;}
.W610{width:645px!important;margin-right:10px!important;}
.W620{width:740px!important;margin-right:10px!important;}
.W768{width:768px!important;margin-right:10px!important;}
.MB0{margin-bottom:0!important;}
.MB5{margin-bottom:5px!important;}
.MB10{margin-bottom:10px;}
.MB30{margin-bottom:30px;}
.el-button--primary{background-color: #169BD5!important;border-color: #169BD5!important;}
.colorGreen{color:#006633;font-size: 16px;}
.shadowBox{width:calc(100% - 5px);position:relative;min-height:200px;-webkit-box-shadow:2px 5px 5px #ccc;box-shadow:5px 5px 5px #ccc;margin-bottom:10px;padding:20px;background:#F2F2F2;}
.head-nav{min-width:600px;color:#fff;}
.rightContainer{position: relative;width: 80%;}
.headTitle span{background:#169BD5;width:175px;color:#fff;display:inline-block;padding:10px 40px 10px 10px;font-size:20px;font-weight:600;-webkit-box-shadow:0 0 5px #006699;box-shadow:8px 6px 17px #006699;}
.headSTitle{font-weight:600;margin-bottom:30px;word-break:keep-all;font-family: Arial,sans-serif;font-size:16px;line-height: 1.2;text-align: left;color: #1a0dab;}
.littleMsg{margin-bottom:30px;word-break:keep-all;font-family: arial,sans-serif;font-size:16px;line-height: 1.2;text-align: left;color: #222;}
.el-loading-mask{z-index:3000!important;}
textarea{height:100px!important;}
textarea.titleTextarea{height:70px!important;}
.bigBox{padding-bottom:50px;word-break:keep-all;}
.showNow .title{width:600px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.showNow .description{width:600px;display:-webkit-box !important;overflow:hidden;text-overflow:ellipsis;word-break:keep-all;-webkit-box-orient:vertical;-webkit-line-clamp:2;}
.LoginOutBtn{position:absolute;top:20px;right:20px;}
@media screen and (min-width: 1600px) {
    .shadowBox{width:1545px;margin-left: 10px;}
    .rightContainer {width: 100%}
    .CollectionsEditAll,
    .CollectionsList{width: 655px;float: left;height: 740px;}
    .CollectionsList{width: 967px;height: 740px;}
    .productEditAll,
    .productList{width: 655px;float: left;height: 830px;}
    .productList{width: 840px;height: 830px;}
}
.shadowBox_s{width:840px;position:relative;margin-left:10px;-webkit-box-shadow:2px 5px 5px #ccc;box-shadow:5px 5px 5px #ccc;margin-bottom:15px;padding:20px;background:#F2F2F2;}




